@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');    
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Rajdhani', 'Bebas Neue', 'Oxygen', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Rajdhani', 'Courier New',
    monospace;
}

/* Enable visibility arrows on Testimonials carousel */
.control-arrow {
  margin: 80px 0 !important;
  background: #00C3FF !important;
  height: 50px;
  font-size: 23px !important;
  opacity: 0.6 !important;
  padding: 0 5px !important;
}

.control-arrow:hover {
  opacity: 1 !important;
}

/* Disable animation on MUI buttons on click */
.mui-ripple-circle {display: none}